# Generated connection details
ssh_config

# Hard coded gcp ssh convenience script
connect.sh

# Scrath playbooks
scratch*

# Config for using non-default stdout callback
ansible.cfg

# data and archives
*.tar
*.tgz
*.gz
*.bz2
